html {
  box-sizing: border-box;
  width: 1350px;
  height: 1200px;
  padding: 5px 10px;
  margin: 10px;

}
body {
  background-color: #f2f2f2;
  text-align: center;
  font-family: Georgia, Arial Black;
  border: 5px solid LightCoral;
}
h1 {
color: LightCoral;
font-family: Georgia, Arial black;
margin:0;
padding-bottom: 0;
padding-top: 30px;
}
h2{
color: LightCoral;
margin:0;
padding-top:0;
padding-bottom:25px;
}
p {
  text-align: center;
  margin: 30px;
}
ul {
   list-style-position: inside;
}
.autobiography {
  border: 1px, solid, #f2f2f2;
}
.highlight {
  background-color: LightCoral;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
.navigation-bar li {
  list-style: none;
  display:inline
}
.navigation-bar a {
  color: black;
}
.navigation-bar a:hover {
  color: LightCoral;
}
